In [2]:
import numpy as np
import pandas as pd
import os
import math
import matplotlib.pyplot as plt
import plotly.express as px
import plotly.graph_objects as go
import plotly.express as px
from plotly.subplots import make_subplots
from sklearn.linear_model import LinearRegression
%matplotlib inline

import warnings
warnings.filterwarnings("ignore")

In [3]:
# load data:
df_apple = pd.read_csv("Datasets/GAM/AAPL.csv")

df_google = pd.read_csv("Datasets/GAM/GOOG.csv")

df_meta = pd.read_csv("Datasets/GAM/META.csv")

print('Apple Stock Prices \n----------------')
display(df_apple.head())

print("Google Stock Prices \n---------------")
display(df_google.head())

print("Meta Stock Prices \n-----------------")
display(df_meta.head())

Apple Stock Prices
----------------

,Date,Open,High,Low,Close,Adj Close,Volume
0,2017-09-07,40.522499,40.560001,40.090000,40.314999,38.261566,87714000
1,2017-09-08,40.215000,40.287498,39.632500,39.657501,37.637562,114446000
2,2017-09-11,40.125000,40.512501,39.972500,40.375000,38.318501,126323200
3,2017-09-12,40.652500,40.990002,39.692501,40.215000,38.166664,286856000
4,2017-09-13,39.967499,39.990002,39.477501,39.912498,37.879570,179629600

Google Stock Prices
---------------

         Date       Open       High        Low      Close  Adj Close    Volume
0  2017-09-07  46.586498  46.820499  46.181000  46.797501  46.797501  24254000
1  2017-09-08  46.824501  46.849499  46.243999  46.325001  46.325001  20230000
2  2017-09-11  46.712502  46.918999  46.346001  46.453999  46.453999  25340000
3  2017-09-12  46.629501  46.674000  46.193050  46.603500  46.603500  22688000
4  2017-09-13  46.533001  46.862499  46.493000  46.754501  46.754501  22052000

Meta Stock Prices
-----------------

,Date,Open,High,Low,Close,Adj Close,Volume
0,2017-09-07,171.940002,173.309998,170.270004,173.210007,173.210007,18049500
1,2017-09-08,173.089996,173.490005,170.800003,170.949997,170.949997,10998500
2,2017-09-11,172.399994,173.889999,172.199997,173.509995,173.509995,12372000
3,2017-09-12,173.759995,174.000000,171.750000,172.960007,172.960007,11186300
4,2017-09-13,173.009995,173.169998,172.059998,173.050003,173.050003,9119300

## Stock terminologies:
1. Open: The price of stock at the beginning of the trading day
2. High: The highest price of the stock on a trading day
3. Low: Lowest price of stock on a trading day
4. Close: last price of the stock before the trading day ends
5. Volume: Amount of stocks that changed hands over the course of a day

# Data Analysis

In [4]:
# check for null values:
print("Apple Stock prices: \n")
print("Null Values: ", df_apple.isnull().values.sum())
print("NA Values: ", df_apple.isna().values.any())

print("---------------------------\n")

print("Google Stock prices: \n")
print("Null Values: ", df_google.isnull().values.sum())
print("NA Values: ", df_google.isna().values.any())

print("---------------------------\n")

print("META Stock prices: \n")
print("Null Values: ", df_meta.isnull().values.sum())
print("NA Values: ", df_meta.isna().values.any())

print("---------------------------\n")

Apple Stock prices:

Null Values:  0
NA Values:  False
---------------------------

Google Stock prices:

Null Values:  0
NA Values:  False
---------------------------

META Stock prices:

Null Values:  0
NA Values:  False
---------------------------

In [5]:
# checking each company's opening price:
data_a = df_apple[['Date', 'Open']]
data_g = df_google[['Date', 'Open']]
data_m = df_meta[['Date', 'Open']]

print('Apple Stock OPEN Prices\n---------------------------')
display(data_a.head())
print('Google Stock OPEN Prices\n---------------------------')
display(data_g.head())
print('Meta Stock OPEN Prices\n---------------------------')
display(data_m.head())

Apple Stock OPEN Prices
---------------------------

         Date       Open
0  2017-09-07  40.522499
1  2017-09-08  40.215000
2  2017-09-11  40.125000
3  2017-09-12  40.652500
4  2017-09-13  39.967499

Google Stock OPEN Prices
---------------------------

         Date       Open
0  2017-09-07  46.586498
1  2017-09-08  46.824501
2  2017-09-11  46.712502
3  2017-09-12  46.629501
4  2017-09-13  46.533001

Meta Stock OPEN Prices
---------------------------

         Date        Open
0  2017-09-07  171.940002
1  2017-09-08  173.089996
2  2017-09-11  172.399994
3  2017-09-12  173.759995
4  2017-09-13  173.009995

In [6]:
# Merge multiple dataframes into one:
df_merge = pd.merge(data_a, data_g, on='Date', how='left')
df_merge = pd.merge(df_merge, data_m, on='Date', how='left')
df_merge.columns = ['Date', 'APPL_Open', 'GOOG_Open', 'META_Open']

# Convert dtype of the 'Date' Column:
df_merge['Date'] = df_merge['Date'].apply(pd.to_datetime)

# display the dataframe:
display(df_merge.head())
print('Total number of trading days: ', df_merge.shape[0])

        Date  APPL_Open  GOOG_Open   META_Open
0 2017-09-07  40.522499  46.586498  171.940002
1 2017-09-08  40.215000  46.824501  173.089996
2 2017-09-11  40.125000  46.712502  172.399994
3 2017-09-12  40.652500  46.629501  173.759995
4 2017-09-13  39.967499  46.533001  173.009995

Total number of trading days:  1258